<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <ul class="list-group">
                <li class="list-group-item">
                        類別
                        <ul class="list-group">
                            <li class="list-group-item">副類別</li>
                            <li class="list-group-item">副類別</li>
                            <li class="list-group-item">副類別</li>
                            <li class="list-group-item">副類別</li>
                        </ul>
                </li>
                <li class="list-group-item">
                        類別
                        <ul class="list-group">
                            <li class="list-group-item">副類別</li>
                            <li class="list-group-item">副類別</li>
                            <li class="list-group-item">副類別</li>
                            <li class="list-group-item">副類別</li>
                        </ul>
                </li>
        </div>
        <div class="col-xs-9">
            <div class="row">
                <div class="col-xs-12">
                <div class="jumbotron">
                <h1><%= @ad[:title] %></h1>
                <p><%= @ad[:des] %></p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button"><%= @ad[:action_title] %> </a></p>
                </div>
                </div>
            </div>
            <div class="row">
            <div class="col-xs-3">
            <div class="thumbnail">
            <img src="https://images.pexels.com/photos/96974/pexels-photo-96974.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="...">
                <div class="caption">
                    <h3>商品名稱</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
            </div>
            <div class="col-xs-3">
            <div class="thumbnail">
            <img src="https://images.pexels.com/photos/616833/pexels-photo-616833.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="...">
                <div class="caption">
                    <h3>商品名稱</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
            </div>
            <div class="col-xs-3">
            <div class="thumbnail">
            <img src="https://images.pexels.com/photos/109275/pexels-photo-109275.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="...">
                <div class="caption">
                    <h3>商品名稱</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
            </div>
            <div class="col-xs-3">
            <div class="thumbnail">
            <img src="https://images.pexels.com/photos/158053/fresh-orange-juice-squeezed-refreshing-citrus-158053.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="...">
                <div class="caption">
                    <h3>商品名稱</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>