<h3></h3>新增產品</h3>
<%= form_tag("/products", mother: :post) do %>
    <label>
        名稱
        <input type="text" name="name" />
    </label>
        <br/>
    <label>
        敘述
        <input type="text" name="description" />
    </label>
        <br/>
    <label>
        圖片連接
        <input type="text" name="image_url" />
    </label>
        <br/>
    <label>
        價格
        <input type="number" name="price" />
    </label>
        <br/>
        <button type="submit">
        新增
        </button>
       <% end %>
 <%= @note %>