<h3></h3>新增產品</h3>
<form action="/products" accept-charset="UTF-8" method="post">
    <input type="hidden" name="authenticity_token"
    value="QNFSeuomqd+FpF6BEKJCJHQ8jD0jX8OR0R0m0xH4Oz60qNuEm5hv63WCqi29RjOiq2qJKuDi2gVfr3x3LuVYjQ==">
    <label>
        名稱
        <input type="text" name="name" />
    </label>
        <br/>
    <label>
        敘述
        <input type="text" name="description" />
    </label>
        <br/>
    <label>
        圖片連接
        <input type="text" name="image_url" />
    </label>
        <br/>
    <label>
        價格
        <input type="number" name="price" />
    </label>
        <br/>
        <button type="submit">
        新增
        </button>
</form>
        
 <%= @note %>

<script>
    $(function(){
      var token=$('meta[name="csrf-token"]').attr('content');
      
      var inputToken = $('input[name=authenticity_token]');
      inputToken.val(token)

        $.ajax({
    method: "POST",
    url: "/products",
    data: { name: "John", description: "Boston", image_url: "", price: 122, authenticity_token: token }
    })
        })
</script>